# Data Understanding & Preparation

In [6]:
# Import your libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
# Load data from different sources
data1 = pd.read_csv('C:/Users/viole/Downloads/data analysis and hypothesis testing/customer_churn - 1.csv')
data2 = pd.read_csv('C:/Users/viole/Downloads/data analysis and hypothesis testing/customer_churn - 2.csv')
data3 = pd.read_csv('C:/Users/viole/Downloads/data analysis and hypothesis testing/customer_churn - 3.csv')
data4 = pd.read_csv('C:/Users/viole/Downloads/data analysis and hypothesis testing/customer_churn - 4.csv')

In [9]:
# Concatenate data into a single DataFrame
concatenated_data = pd.concat([data1, data2, data3, data4], ignore_index=True)

In [10]:
# Display the concatenated DataFrame
print(concatenated_data.head())

              Names  Age  Total_Purchase  Account_Manager  Years  Num_Sites  \
0  Cameron Williams   42        11066.80                0   7.22          8
1     Kevin Mueller   41        11916.22                0   6.50         11
2       Eric Lozano   38        12884.75                0   6.67         12
3     Phillip White   42         8010.76                0   6.71         10
4    Cynthia Norton   37         9191.58                0   5.56          9

      Onboard_date                                           Location  \
0   8/30/2013 7:00      10265 Elizabeth Mission Barkerburgh, AK 89518
1   8/13/2013 0:38  6157 Frank Gardens Suite 019 Carloshaven, RI 1...
2   6/29/2016 6:20             1331 Keith Court Alyssahaven, DE 90114
3  4/22/2014 12:43       13120 Daniel Mount Angelabury, WY 30645-4695
4  1/19/2016 15:31                765 Tricia Row Karenshire, MH 71730

                       Company  Churn
0                   Harvey LLC      1
1                   Wilson PLC      1
2  Miller, Johnson and Wallace      1
3                    Smith Inc      1
4                   Love-Jones      1

In [11]:
# Get summary statistics
print(concatenated_data.describe())

# # Check data types and missing values
# print(data.info())

              Age  Total_Purchase  Account_Manager       Years   Num_Sites  \
count  900.000000      900.000000       900.000000  900.000000  900.000000
mean    41.816667    10062.824033         0.481111    5.273156    8.587778
std      6.127560     2408.644532         0.499921    1.274449    1.764836
min     22.000000      100.000000         0.000000    1.000000    3.000000
25%     38.000000     8497.122500         0.000000    4.450000    7.000000
50%     42.000000    10045.870000         0.000000    5.215000    8.000000
75%     46.000000    11760.105000         1.000000    6.110000   10.000000
max     65.000000    18026.010000         1.000000    9.150000   14.000000

            Churn
count  900.000000
mean     0.166667
std      0.372885
min      0.000000
25%      0.000000
50%      0.000000
75%      0.000000
max      1.000000

In [13]:
# # Check data types and missing values
print(concatenated_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Names            900 non-null    object
 1   Age              900 non-null    int64
 2   Total_Purchase   900 non-null    float64
 3   Account_Manager  900 non-null    int64
 4   Years            900 non-null    float64
 5   Num_Sites        900 non-null    int64
 6   Onboard_date     900 non-null    object
 7   Location         900 non-null    object
 8   Company          900 non-null    object
 9   Churn            900 non-null    int64
dtypes: float64(2), int64(4), object(4)
memory usage: 70.4+ KB
None